.keyboardRow {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.keyboardLetter {
	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(100% / 13);
	max-width: 50px;
	aspect-ratio: 1 / 1.25;
	border: none;
	border-radius: 0.35rem;

	background-color: var(--clrNeutral);

	cursor: pointer;
}

.keyboardLetter.incorrect {
	background-color: var(--clrIncorrect);
}

.keyboardLetter.partiallyCorrect {
	background-color: var(--clrPartiallyCorrect);
}

.keyboardLetter.correct {
	background-color: var(--clrCorrect);
}
