.pageTitle {
	margin-block: 1rem;

	text-align: center;
}

@keyframes fadeInResults {
	to {
		opacity: 1;
	}
}

.gameResults {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	position: fixed;

	inset: 0;
	padding-top: 4rem;

	opacity: 0;

	animation-name: fadeInResults;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;
	animation-duration: 0.1s;
}

.gameResults.WON {
	background-color: hsla(115, 29%, 43%, 0.85);
}

.gameResults.LOST {
	background-color: hsla(5, 29%, 43%, 0.85);
}

.target {
	display: inline-block;

	padding: 0.25rem 0.5rem;
	margin-left: 0.5rem;

	color: var(--clrCorrect); /* even if user loses */
	background-color: hsla(0, 0%, 100%, 0.65);
}

.playAgainBtn {
	margin-top: 2rem;
	border: 2px solid var(--clrWhite);
	border-radius: 0.35rem;
	padding: 0.5rem 1rem;

	font-size: 1em;

	cursor: pointer;
}

.WON .playAgainBtn {
	background-color: var(--clrCorrect);
}

.LOST .playAgainBtn {
	background-color: var(--clrLost);
}
